  /* ===================================================
Base Styles
======================================================= */
body {
    background-color :#f5f5f5;
    padding: 20px 50px;
  }
  h4 {
    color: red;
    font-size: 42px;
    letter-spacing: -2px;
    text-align: center;
  }
  .list {
    color: #555;
    font-size: 22px;
    padding: 0 ;
    font-family: courier, monospace;
    border: 1px solid #dedede;
    position: relative;
    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);   
  }
  .list li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px 5px 10px 50px;
    text-transform: capitalize;
  }
  .list li:hover {
    background-color: #eee;
  }

  .list li:last-child {
    border-bottom: 0;
  }
  .list:before {
    content: "";
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px;
    position: absolute;
    height: 100%;
    left: 25px;
  }
  /* ===================================================
Positioning
======================================================= */
.submit{
    text-align: center;
    margin: 0, auto;
  }
  
   /* ===================================================
Input Element Styles--blend with  notebook effect
======================================================= */

/* hide input boxes, style text */

input, select, textarea {
    border: none;
    background-color: #f5f5f5;
    height: 35px;
    width: 75%;
    color: #555;
    font-size: 18px;
    font-family: courier, monospace;
  }
  input, select, textarea:focus {
    outline: none;
  }

